/* Main CSS file for Vite project */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  background-color: #f6bf25;
  padding: 1rem;
}

.container {
  max-width: 740px;
  margin: 0 auto;
}

.footer {
  background-color: #edf2f7;
  padding: 1rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 30px;
}

td {
  vertical-align: bottom;
}

.person {
  font-size: 1rem;
  font-weight: bold;
  padding: 0 5px 0 10px;
}

.bio {
  font-size: 0.875rem;
  color: #555;
  padding-left: 10px;
  vertical-align: top;
}

.line-bottom {
  border-bottom: 2px solid black;
}

.line-left-down {
  border-left: 2px solid black;
}

.line-left-up {
  border-left: 2px solid black;
}

.line-left {
  border-left: 2px solid white;
}

.pedigree-container {
  margin-bottom: 30px;
  padding: 1rem 1.25rem 0;
}

.section-label {
  font-weight: 600;
  background: rgb(242, 238, 243);
  border-left: solid 10px rgb(175, 143, 204);
  margin-bottom: 1rem;
  padding: 5px 5px 5px 10px;
}

.section-label h2 {
  font-size: 1.25rem;
  margin: 0;
}

.pb-10 {
  padding-bottom: 1.5rem;
}

.family-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0.5rem 0 2rem 1.5rem;
}

.family-list li {
  border-bottom: 1px solid #bbb;
  padding: 5px 7px;
}

.family-head {
  font-weight: bold;
  border-bottom: 3px solid #bbb;
  margin: 0;
  padding: 5px 7px;
}

.family-details {
  font-size: 0.9rem;
  color: #666;
}
