header {
    background-color: #f1f1f1;
    margin-bottom: 40px;
    padding: 10px 0;
    text-align: center;
}

.site-title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}